.user {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.user-leftPanel {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  //background-color: #7f7f7f;
  width: 120px;
  //justify-content: center;
  align-items: center;
  //height: calc(100% - 1px);
  //height: 500px;
  > a {
    padding: 3px;
    color: #333333;
    font-weight: 300;
    text-decoration: underline;
  }
}

.user-rightPanel {
  background-color: #2e2e2e;
  width: 100%;
  height: auto;
}