//import "../../../../libs/theme/theme";

.root {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.root-leftPanel {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 65px;
  align-items: center;
  background-color: #7f7f7f;
  //height: calc(100% - 1px);
  //height: 500px;
  > a {
    padding: 5px;
    color: #ff3333;
    font-weight: bold;
    text-decoration: none;
  }:hover {
    color:#000000;
  }
}

.root-rightPanel {
  //display: flex;
  //justify-content: center;
  width: 100%;
  height: auto;
}
